<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo_primeiro.css">
    <title>Santos Tri Campeão</title>
</head>
<body>
    <div class='terceiro'></div>
    <div class='text'>
        <h1>SANTOS DE 2011</h1>
        <p>Em 22 de junho de 2011 o Peixe vencia o Peñarol e conquistava a América pela terceira vez. Vencendo o Peñarol por 2 a 1 no Pacaembu completamente lotado, inclusive com a presença do Rei Pelé, e conquistava o tricampeonato da Copa Libertadores da América</p>
    </div>
    <div class='elenco3'>
        <img src="https://backup.tribunadonorte.com.br/fotos/76797.jpg" alt="" />
    </div>
</body>
</html>