<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo_segundo.css">
    <title>Santos Bi Campeão</title>
</head>
<body>
    <div class='segundo'></div>
    <div class='text'>
        <h1>SANTOS DE 1963</h1>
        <p>O Santos, campeão do ano anterior, novamente sagrou-se campeão de maneira invicta, ao derrotar na final o Boca Juniors, da Argentina por 2x1.</p>
    </div>
    <div class='elenco2'>
        <img src="https://conteudo.imguol.com.br/c/esporte/47/2022/07/06/na-foto-pele-jogava-pelo-santos-em-rara-vitoria-contra-o-boca-juniors-no-la-bombonera-1963-1657141235207_v2_900x506.png" alt="" />
    </div>
</body>
</html>